In [2]:
import pandas as pd
import requests
from pprint import pprint

# SAMPLE RESPONSE TO STORE AS DATAFRAME
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"402","season":"2021"}

headers = {
	"X-RapidAPI-Key": "8c034ba04bmsha0b2a7a1ae34c43p11d80ajsneb719a3861d5",
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

response_jsample=response.json()

pprint(response_jsample['response'])
player_df_sample = pd.DataFrame(response_jsample['response'])
player_df_sample.shape

[{'assists': 2,
  'blocks': 0,
  'comment': None,
  'defReb': 2,
  'fga': 0,
  'fgm': 0,
  'fgp': '0.0',
  'fta': 2,
  'ftm': 2,
  'ftp': '100',
  'game': {'id': 10799},
  'min': '13:14',
  'offReb': 0,
  'pFouls': 4,
  'player': {'firstname': 'Jahlil', 'id': 402, 'lastname': 'Okafor'},
  'plusMinus': '-7',
  'points': 2,
  'pos': None,
  'steals': 0,
  'team': {'code': 'ATL',
           'id': 1,
           'logo': 'https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png',
           'name': 'Atlanta Hawks',
           'nickname': 'Hawks'},
  'totReb': 2,
  'tpa': 0,
  'tpm': 0,
  'tpp': '0.0',
  'turnovers': 0},
 {'assists': 0,
  'blocks': 0,
  'comment': None,
  'defReb': 0,
  'fga': 0,
  'fgm': 0,
  'fgp': '0.0',
  'fta': 0,
  'ftm': 0,
  'ftp': '0.0',
  'game': {'id': 10811},
  'min': '0:00',
  'offReb': 0,
  'pFouls': 0,
  'player': {'firstname': 'Jahlil', 'id': 402, 'lastname': 'Okafor'},
  'plusMinus': '0',
  'points': 0,
  'pos': None,
  'steals': 0,
  'team': {'code': 'ATL',
           'id': 1,
           'logo': 'https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png',
           'name': 'Atlanta Hawks',
           'nickname': 'Hawks'},
  'totReb': 0,
  'tpa': 0,
  'tpm': 0,
  'tpp': '0.0',
  'turnovers': 0},
 {'assists': 1,
  'blocks': 1,
  'comment': None,
  'defReb': 1,
  'fga': 3,
  'fgm': 2,
  'fgp': '66.7',
  'fta': 0,
  'ftm': 0,
  'ftp': '0.0',
  'game': {'id': 10829},
  'min': '15:00',
  'offReb': 1,
  'pFouls': 0,
  'player': {'firstname': 'Jahlil', 'id': 402, 'lastname': 'Okafor'},
  'plusMinus': '7',
  'points': 4,
  'pos': None,
  'steals': 1,
  'team': {'code': 'ATL',
           'id': 1,
           'logo': 'https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png',
           'name': 'Atlanta Hawks',
           'nickname': 'Hawks'},
  'totReb': 2,
  'tpa': 0,
  'tpm': 0,
  'tpp': '0.0',
  'turnovers': 1}]

(3, 25)

In [3]:
# Initialize dataframe with required columns
player_df = player_df_sample[0:0]

# List of players
search_player = [236, 553, 402]

# Set url for API
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

# Loop through each player ID
for player in search_player:
    try:
        # Create search query, make request for player stats and store in json
        
        querystring = {"id":{player},"season":"2021"}

        headers = {
            "X-RapidAPI-Key": "8c034ba04bmsha0b2a7a1ae34c43p11d80ajsneb719a3861d5",
            "X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
        }

        response = requests.get(url, headers=headers, params=querystring)
        response_json=response.json()
        # pprint(response_json)
        
        # Access Player statistics and create a dataframe to append to previous player response
        df=pd.DataFrame(response_json['response'])
        player_df = pd.concat([player_df,df])
        
    # Handle exceptions for a player that is not available in the Pokemon API
    except Exception as e:
        print(f"Error occurred with {player}: {e}")
        pass
    
player_df.columns

Index(['player', 'team', 'game', 'points', 'pos', 'min', 'fgm', 'fga', 'fgp',
       'ftm', 'fta', 'ftp', 'tpm', 'tpa', 'tpp', 'offReb', 'defReb', 'totReb',
       'assists', 'pFouls', 'steals', 'turnovers', 'blocks', 'plusMinus',
       'comment'],
      dtype='object')

In [4]:
player_df.head()

,player,team,game,points,pos,min,fgm,fga,fgp,ftm,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,comment
0,"{'id': 236, 'firstname': 'Buddy', 'lastname': ...","{'id': 30, 'name': 'Sacramento Kings', 'nickna...",{'id': 10804},14.0,None,22:57,5.0,15.0,33.3,0.0,...,0.0,4.0,4.0,4.0,2.0,0.0,1.0,0.0,6,None
1,"{'id': 236, 'firstname': 'Buddy', 'lastname': ...","{'id': 30, 'name': 'Sacramento Kings', 'nickna...",{'id': 10816},11.0,None,22:01,4.0,16.0,25.0,0.0,...,2.0,3.0,5.0,3.0,2.0,0.0,1.0,0.0,23,None
2,"{'id': 236, 'firstname': 'Buddy', 'lastname': ...","{'id': 30, 'name': 'Sacramento Kings', 'nickna...",{'id': 10853},13.0,None,24:36,4.0,10.0,40.0,2.0,...,0.0,6.0,6.0,3.0,3.0,0.0,0.0,0.0,30,None
3,"{'id': 236, 'firstname': 'Buddy', 'lastname': ...","{'id': 30, 'name': 'Sacramento Kings', 'nickna...",{'id': 9578},17.0,None,30:51,5.0,9.0,55.6,3.0,...,0.0,6.0,6.0,2.0,2.0,0.0,0.0,0.0,5,None
4,"{'id': 236, 'firstname': 'Buddy', 'lastname': ...","{'id': 30, 'name': 'Sacramento Kings', 'nickna...",{'id': 9591},24.0,None,26:03,9.0,21.0,42.9,0.0,...,2.0,5.0,7.0,1.0,2.0,0.0,4.0,0.0,0,None

In [5]:
player_df.reset_index(drop=True,inplace=True)

player_df_player=pd.DataFrame(player_df.loc[:,'player'].values.tolist()).rename(columns={'id':'player_id'})
player_df_player.reset_index(drop=True,inplace=True)
player_df_player

player_df_game=pd.DataFrame(player_df.loc[:,'game'].values.tolist()).rename(columns={'id':'game_id'})
player_df_game.reset_index(drop=True,inplace=True)
player_df_game

player_df_team=pd.DataFrame(player_df.loc[:,'team'].values.tolist()).rename(columns={'id':'team_id','name':'team_name','nickname':'team_nickname'})
player_df_team.reset_index(drop=True,inplace=True)
player_df_team

,team_id,team_name,team_nickname,code,logo
0,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...
1,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...
2,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...
3,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...
4,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...
...,...,...,...,...,...
152,1,Atlanta Hawks,Hawks,ATL,https://upload.wikimedia.org/wikipedia/fr/e/ee...
153,1,Atlanta Hawks,Hawks,ATL,https://upload.wikimedia.org/wikipedia/fr/e/ee...
154,1,Atlanta Hawks,Hawks,ATL,https://upload.wikimedia.org/wikipedia/fr/e/ee...
155,1,Atlanta Hawks,Hawks,ATL,https://upload.wikimedia.org/wikipedia/fr/e/ee...
156,1,Atlanta Hawks,Hawks,ATL,https://upload.wikimedia.org/wikipedia/fr/e/ee...

In [6]:
player_df_details=player_df[0:0]
player_df_details = pd.concat([player_df,player_df_player,player_df_game,player_df_team,],axis=1)
player_df_details.drop(columns=['player', 'team', 'game'],axis=1,inplace=True)
player_df_details['min'].fillna('0:0',inplace=True)
player_df_details['min']=player_df_details['min'].astype('str')
player_df_details['tpp'].fillna(0,inplace=True)
player_df_details['tpp']=player_df_details['tpp'].astype('float64')

def convert_to_decimal(time_str):
    minutes, seconds = map(int, time_str.split(":"))
    decimal_time = minutes + (seconds/60)
    return decimal_time

player_df_details['minutes'] = list(map(convert_to_decimal, player_df_details['min']))

player_df_details=player_df_details[['player_id',\
       'firstname', 'lastname', 'team_id', 'team_name', 'team_nickname',\
       'code', 'logo', 'game_id','points', 'pos', 'minutes', 'fgm', 'fga', 'fgp', 'ftm', 'fta', 'ftp', 'tpm',\
       'tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls',\
       'steals', 'turnovers', 'blocks', 'plusMinus', 'comment']]

player_df_details.columns

Index(['player_id', 'firstname', 'lastname', 'team_id', 'team_name',
       'team_nickname', 'code', 'logo', 'game_id', 'points', 'pos', 'minutes',
       'fgm', 'fga', 'fgp', 'ftm', 'fta', 'ftp', 'tpm', 'tpa', 'tpp', 'offReb',
       'defReb', 'totReb', 'assists', 'pFouls', 'steals', 'turnovers',
       'blocks', 'plusMinus', 'comment'],
      dtype='object')

In [7]:
player_df_details.head()

,player_id,firstname,lastname,team_id,team_name,team_nickname,code,logo,game_id,points,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,comment
0,236,Buddy,Hield,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...,10804,14.0,...,0.0,4.0,4.0,4.0,2.0,0.0,1.0,0.0,6,None
1,236,Buddy,Hield,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...,10816,11.0,...,2.0,3.0,5.0,3.0,2.0,0.0,1.0,0.0,23,None
2,236,Buddy,Hield,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...,10853,13.0,...,0.0,6.0,6.0,3.0,3.0,0.0,0.0,0.0,30,None
3,236,Buddy,Hield,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...,9578,17.0,...,0.0,6.0,6.0,2.0,2.0,0.0,0.0,0.0,5,None
4,236,Buddy,Hield,30,Sacramento Kings,Kings,SAC,https://upload.wikimedia.org/wikipedia/fr/thum...,9591,24.0,...,2.0,5.0,7.0,1.0,2.0,0.0,4.0,0.0,0,None

In [8]:
player_df_details_1 = player_df_details[['player_id','firstname', 'lastname', 
       'points', 'minutes', 'fgm', 'fga', 'ftm', 'fta', \
       'tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', \
       'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus']]

player_df_aggregate = player_df_details_1.groupby(['player_id','firstname', 'lastname']).agg('sum')
player_df_aggregate['fgp']=player_df_aggregate['fgm']/player_df_aggregate['fga']
player_df_aggregate['ftp']=player_df_aggregate['ftm']/player_df_aggregate['fta']
player_df_aggregate.columns

/var/folders/kl/d4qmnbgd10q401rmyb0lldk40000gn/T/ipykernel_992/1958778135.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player_df_aggregate = player_df_details_n.groupby(['player_id','firstname', 'lastname']).agg('sum')

Index(['points', 'minutes', 'fgm', 'fga', 'ftm', 'fta', 'tpm', 'tpa', 'tpp',
       'offReb', 'defReb', 'totReb', 'assists', 'pFouls', 'steals',
       'turnovers', 'blocks', 'fgp', 'ftp'],
      dtype='object')

In [9]:
player_df_aggregate.head()

,,,points,minutes,fgm,fga,ftm,fta,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,fgp,ftp
player_id,firstname,lastname,,,,,,,,,,,,,,,,,,,
236,Buddy,Hield,1303.0,2568.083333,459.0,1139.0,113.0,129.0,272.0,750.0,3000.6,68.0,300.0,368.0,239.0,191.0,72.0,155.0,25.0,0.402985,0.875969
402,Jahlil,Okafor,6.0,28.233333,2.0,3.0,2.0,2.0,0.0,0.0,0.0,1.0,3.0,4.0,3.0,4.0,1.0,1.0,1.0,0.666667,1.000000
553,Lou,Williams,375.0,827.950000,131.0,332.0,75.0,86.0,38.0,104.0,1991.7,17.0,74.0,91.0,107.0,50.0,31.0,45.0,4.0,0.394578,0.872093

In [11]:
player_df_details_2 = player_df_details[['pos',
       'points', 'minutes', 'fgm', 'fga', 'ftm', 'fta', \
       'tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', \
       'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus']]

pos_df_aggregate = player_df_details_2.groupby(['pos']).agg('sum')
pos_df_aggregate['fgp']=pos_df_aggregate['fgm']/pos_df_aggregate['fga']
pos_df_aggregate['ftp']=pos_df_aggregate['ftm']/pos_df_aggregate['fta']
pos_df_aggregate.columns

/var/folders/kl/d4qmnbgd10q401rmyb0lldk40000gn/T/ipykernel_992/1048283399.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pos_df_aggregate = player_df_details_2.groupby(['pos']).agg('sum')

Index(['points', 'minutes', 'fgm', 'fga', 'ftm', 'fta', 'tpm', 'tpa', 'tpp',
       'offReb', 'defReb', 'totReb', 'assists', 'pFouls', 'steals',
       'turnovers', 'blocks', 'fgp', 'ftp'],
      dtype='object')

In [12]:
pos_df_aggregate.head()

,points,minutes,fgm,fga,ftm,fta,tpm,tpa,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,fgp,ftp
pos,,,,,,,,,,,,,,,,,,,
SF,222.0,449.550000,85.0,210.0,15.0,18.0,37.0,118.0,400.9,11.0,59.0,70.0,58.0,35.0,11.0,32.0,3.0,0.404762,0.833333
SG,355.0,699.566667,132.0,290.0,21.0,24.0,70.0,169.0,847.1,17.0,67.0,84.0,80.0,53.0,23.0,43.0,10.0,0.455172,0.875000