In [35]:
# Import required libraries and dependencies
import pandas as pd
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
player_df_details= pd.read_csv('Player_Details_for_Final_Tables.csv')
player_df_details.info()
player_df_details.columns
player_df_details.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24664 entries, 0 to 24663
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      24664 non-null  int64
 1   firstname      24664 non-null  object
 2   lastname       24664 non-null  object
 3   team_id        24664 non-null  int64
 4   team_name      24664 non-null  object
 5   team_nickname  24664 non-null  object
 6   code           24664 non-null  object
 7   logo           24648 non-null  object
 8   game_id        24664 non-null  int64
 9   points         23907 non-null  float64
 10  pos            9834 non-null   object
 11  minutes        24664 non-null  float64
 12  fgm            23907 non-null  float64
 13  fga            23907 non-null  float64
 14  fgp            23907 non-null  float64
 15  ftm            23907 non-null  float64
 16  fta            23907 non-null  float64
 17  ftp            23907 non-null  float64
 18  tpm            23907 non-null  float64
 19  tpa            23907 non-null  float64
 20  tpp            24664 non-null  float64
 21  offReb         23907 non-null  float64
 22  defReb         23907 non-null  float64
 23  totReb         23907 non-null  float64
 24  assists        23907 non-null  float64
 25  pFouls         23907 non-null  float64
 26  steals         23907 non-null  float64
 27  turnovers      23907 non-null  float64
 28  blocks         23907 non-null  float64
 29  plusMinus      23907 non-null  float64
 30  comment        757 non-null    object
dtypes: float64(20), int64(3), object(8)
memory usage: 5.8+ MB

,player_id,firstname,lastname,team_id,team_name,team_nickname,code,logo,game_id,points,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,comment
0,8,LaMarcus,Aldridge,4,Brooklyn Nets,Nets,BKN,https://upload.wikimedia.org/wikipedia/commons...,10796,6.0,...,0.0,4.0,4.0,3.0,3.0,0.0,0.0,1.0,7.0,NaN
1,8,LaMarcus,Aldridge,4,Brooklyn Nets,Nets,BKN,https://upload.wikimedia.org/wikipedia/commons...,10821,12.0,...,2.0,3.0,5.0,3.0,0.0,2.0,2.0,1.0,-1.0,NaN
2,8,LaMarcus,Aldridge,4,Brooklyn Nets,Nets,BKN,https://upload.wikimedia.org/wikipedia/commons...,10836,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,8,LaMarcus,Aldridge,4,Brooklyn Nets,Nets,BKN,https://upload.wikimedia.org/wikipedia/commons...,10851,16.0,...,1.0,1.0,2.0,0.0,2.0,1.0,1.0,0.0,-20.0,NaN
4,8,LaMarcus,Aldridge,4,Brooklyn Nets,Nets,BKN,https://upload.wikimedia.org/wikipedia/commons...,8787,1.0,...,0.0,3.0,3.0,1.0,2.0,0.0,1.0,1.0,2.0,NaN

In [37]:
player_pca_clusters_df= pd.read_csv('player_pca_clusters.csv')
player_pca_clusters_df.reset_index(drop=True,inplace=True)
player_pca_clusters_df.set_index("player_id",inplace=True)

player_pca_clusters_df.info()
player_pca_clusters_df.columns
player_pca_clusters_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 8 to 3398
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PC1            270 non-null    float64
 1   PC2            270 non-null    float64
 2   PC3            270 non-null    float64
 3   PC4            270 non-null    float64
 4   PC5            270 non-null    float64
 5   PlayerCluster  270 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 14.8 KB

                PC1       PC2       PC3       PC4       PC5  PlayerCluster
player_id
8         -1.433636  1.206375  0.521900  2.081874  0.538440              4
18         1.102211  1.053185 -0.272721 -1.429631  0.435961              1
21         0.474434 -0.111950  1.668845  0.058261 -0.196433              1
28        -2.508241 -1.797124  0.257159  0.911493 -0.012547              0
36         1.343450 -0.715803  0.141465  0.662023 -1.121402              1

In [38]:
player_df_details_merged=pd.merge(player_df_details,player_pca_clusters_df,on=["player_id"],how='inner')

In [39]:
player_df_details_merged.shape
player_df_details_merged.columns

Index(['player_id', 'firstname', 'lastname', 'team_id', 'team_name',
       'team_nickname', 'code', 'logo', 'game_id', 'points', 'pos', 'minutes',
       'fgm', 'fga', 'fgp', 'ftm', 'fta', 'ftp', 'tpm', 'tpa', 'tpp', 'offReb',
       'defReb', 'totReb', 'assists', 'pFouls', 'steals', 'turnovers',
       'blocks', 'plusMinus', 'comment', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5',
       'PlayerCluster'],
      dtype='object')

In [40]:
player_df_details_1 = player_df_details_merged[['PlayerCluster','points', 'tpm','tpa','offReb', 'defReb', 'totReb', 'assists', 'pFouls', 'steals','turnovers', 'blocks', 'fga','fgm', 'fta','ftm']]

PlayerCluster_df_aggregate = player_df_details_1.groupby(['PlayerCluster']).agg('sum')
PlayerCluster_df_aggregate['fgp']=PlayerCluster_df_aggregate['fgm']/PlayerCluster_df_aggregate['fga']
PlayerCluster_df_aggregate['ftp']=PlayerCluster_df_aggregate['ftm']/PlayerCluster_df_aggregate['fta']
PlayerCluster_df_aggregate['tpp']=PlayerCluster_df_aggregate['tpm']/PlayerCluster_df_aggregate['tpa']
PlayerCluster_df_aggregate.columns

Index(['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',
       'fgp', 'ftp', 'tpp'],
      dtype='object')

In [41]:
player_df_details_2 = player_df_details_merged[['pos','points', 'tpm','tpa','offReb', 'defReb', 'totReb', 'assists', 'pFouls', 'steals','turnovers', 'blocks', 'fga','fgm', 'fta','ftm']]

pos_df_aggregate = player_df_details_2.groupby(['pos']).agg('sum')
pos_df_aggregate['fgp']=pos_df_aggregate['fgm']/pos_df_aggregate['fga']
pos_df_aggregate['ftp']=pos_df_aggregate['ftm']/pos_df_aggregate['fta']
pos_df_aggregate['tpp']=pos_df_aggregate['tpm']/pos_df_aggregate['tpa']
pos_df_aggregate.columns

Index(['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',
       'fgp', 'ftp', 'tpp'],
      dtype='object')

In [42]:
player_df_details_3 = player_df_details_merged[['player_id','firstname', 'lastname','points', 'tpm','tpa','offReb', 'defReb', 'totReb', 'assists', 'pFouls', 'steals','turnovers', 'blocks', 'fga','fgm', 'fta','ftm']]

Player_df_aggregate = player_df_details_3.groupby(['player_id','firstname', 'lastname']).agg('sum')
Player_df_aggregate['fgp']=Player_df_aggregate['fgm']/Player_df_aggregate['fga']
Player_df_aggregate['ftp']=Player_df_aggregate['ftm']/Player_df_aggregate['fta']
Player_df_aggregate['tpp']=Player_df_aggregate['tpm']/Player_df_aggregate['tpa']
Player_df_aggregate.columns

Index(['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',
       'fgp', 'ftp', 'tpp'],
      dtype='object')

In [43]:
# Exporting Actual metric data
PlayerCluster_df_aggregate.to_csv("Cluster_Stats_Aggregate.csv")
pos_df_aggregate.to_csv("Position_Stats_Aggregate.csv")
Player_df_aggregate.to_csv("Player_Stats_Aggregate.csv")

In [44]:
scaler = MinMaxScaler()

PlayerCluster_aggregate_scaled = scaler.fit_transform(PlayerCluster_df_aggregate[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])

# Create a DataFrame with the scaled data
PlayerCluster_df_aggregate_scaled = pd.DataFrame(PlayerCluster_aggregate_scaled,columns=[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])


# Set the player_id column as index
PlayerCluster_df_aggregate_scaled.index = PlayerCluster_df_aggregate.index

# Display sample data
PlayerCluster_df_aggregate_scaled.head()

,points,tpm,tpa,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,fga,fgm,fta,ftm,fgp,ftp,tpp
PlayerCluster,,,,,,,,,,,,,,,,,,
0,0.538452,0.631402,0.664930,0.002116,0.393786,0.311720,0.445907,0.454202,0.518639,0.439745,0.018429,0.605391,0.525120,0.343787,0.362015,0.000000,0.825013,0.544584
1,0.969019,1.000000,1.000000,1.000000,1.000000,1.000000,0.653882,1.000000,1.000000,0.672524,1.000000,1.000000,0.980776,0.662883,0.638322,0.172278,0.749690,1.000000
2,0.093578,0.000000,0.000000,0.928042,0.260658,0.333814,0.013755,0.065830,0.000000,0.067797,0.746795,0.062918,0.104226,0.160793,0.128562,1.000000,0.071141,0.178836
3,1.000000,0.714046,0.722066,0.000000,0.642341,0.531700,1.000000,0.431539,0.615782,1.000000,0.100962,0.983928,1.000000,1.000000,1.000000,0.265391,1.000000,0.876268
4,0.000000,0.013434,0.017546,0.248677,0.000000,0.000000,0.000000,0.000000,0.014694,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.749385,0.000000,0.000000

In [45]:
scaler = MinMaxScaler()

Pos_aggregate_scaled = scaler.fit_transform(pos_df_aggregate[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])

# Create a DataFrame with the scaled data
Pos_df_aggregate_scaled = pd.DataFrame(Pos_aggregate_scaled,columns=[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])


# Set the player_id column as index
Pos_df_aggregate_scaled.index = pos_df_aggregate.index

# Display sample data
Pos_df_aggregate_scaled.head()

,points,tpm,tpa,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,fga,fgm,fta,ftm,fgp,ftp,tpp
pos,,,,,,,,,,,,,,,,,,
C,0.000000,0.000000,0.000000,1.000000,0.224231,0.781013,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.723656
PF,0.513402,0.422528,0.470177,0.534208,1.000000,1.000000,0.216884,1.000000,0.511888,0.307378,0.709127,0.537409,0.535937,0.489307,0.465011,0.256856,0.526456,0.000000
PG,1.000000,0.882686,0.922772,0.000000,0.113020,0.059145,1.000000,0.716253,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.513150
SF,0.627291,0.621495,0.637703,0.255858,0.051537,0.183500,0.258327,0.441690,0.632867,0.308320,0.220662,0.606754,0.597473,0.621130,0.655595,0.188501,0.888243,0.714300
SG,0.923668,1.000000,1.000000,0.025773,0.000000,0.000000,0.453101,0.956841,0.825175,0.538776,0.091274,0.937875,0.943387,0.540057,0.603999,0.036327,0.952689,1.000000

In [46]:
scaler = MinMaxScaler()

Player_aggregate_scaled = scaler.fit_transform(Player_df_aggregate[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])

# Create a DataFrame with the scaled data
Player_df_aggregate_scaled = pd.DataFrame(Player_aggregate_scaled,columns=[['points', 'tpm', 'tpa', 'offReb', 'defReb', 'totReb', 'assists',\
       'pFouls', 'steals', 'turnovers', 'blocks', 'fga', 'fgm', 'fta', 'ftm',\
       'fgp', 'ftp', 'tpp']])


# Set the player_id column as index
Player_df_aggregate_scaled.index = Player_df_aggregate.index

# Display sample data
Player_df_aggregate_scaled.head()

,,,points,tpm,tpa,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,fga,fgm,fta,ftm,fgp,ftp,tpp
player_id,firstname,lastname,,,,,,,,,,,,,,,,,,
8,LaMarcus,Aldridge,0.242266,0.036675,0.049618,0.241611,0.267703,0.287342,0.043050,0.203125,0.102740,0.106195,0.230047,0.248089,0.284834,0.171654,0.172662,0.509034,0.810451,0.576923
18,Kyle,Anderson,0.235730,0.102689,0.127863,0.261745,0.557858,0.507595,0.246002,0.375000,0.616438,0.227139,0.276995,0.293357,0.270037,0.193701,0.140288,0.279290,0.416198,0.626866
21,Carmelo,Anthony,0.388235,0.388753,0.400763,0.194631,0.348877,0.329114,0.068881,0.496875,0.315068,0.156342,0.253521,0.418577,0.378545,0.255118,0.242806,0.255758,0.732014,0.757143
28,D.J.,Augustin,0.097603,0.173594,0.164122,0.023490,0.036269,0.035443,0.124231,0.071875,0.102740,0.135693,0.004695,0.102293,0.081381,0.067717,0.068345,0.207455,0.824721,0.825581
36,Harrison,Barnes,0.540305,0.374083,0.369275,0.271812,0.561313,0.513924,0.223862,0.259375,0.369863,0.318584,0.070423,0.479718,0.468557,0.656693,0.618705,0.329942,0.714308,0.790698

In [30]:
# Exporting normalized metric data
PlayerCluster_df_aggregate_scaled.to_csv("Cluster_Stats_Aggregate_Norm.csv")
Pos_df_aggregate_scaled.to_csv("Position_Stats_Aggregate_Norm.csv")
Player_df_aggregate_scaled.to_csv("Player_Stats_Aggregate_Norm.csv")